*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-family: "Google sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  display: block;
  margin: 0.5rem 0;
  width: 100%;
  height: 32px;
}

h2 {
  font-size: 2rem;
}
